@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

:root {
  --pri-blue: #2C57F5;
  --pri-green: #27AE60;
  --pri-red: #FF6B6B;
  --pri-grey: #4A4A4A;
  --white: #FBFBFB;

}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  font-weight: 500;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
